<div class="detail-comment">
    <div class="bar bar-header bar-light detail-white">
        <a onclick="history.back()" class=" btn-back"><</a>
    </div>
    <ion-content class="comment " comment>

        <li class="item item-avatar" ng-repeat="(key,id) in hotList.commentIds track by key">
            <!--track by key-->

            <img ng-src="{{hotList.comments[id].user.avatar||'http://img5.cache.netease.com/tie/images/noface80_80.png'}}">
            <div class="nest-comment" netst-comment>
                <div class="wrap-border" get-id>
                    <h2 style="text-align:left;">
                        <span class="floor" ng-show="idx">{{idx}}</span><span class="nickname">{{hotList.comments[id].user.nickname ||'火星网友'}}</span>
                        <span class="from">{{hotList.comments[id].from}}</span>
                    </h2>
                    <p class="from">{{hotList.comments[id].user.location}}</p>


                    <div class="contentWrap" show-all>
                        <p class="content" id="{{id}}" ng-bind-html="getContent()"
                           ng-style="{height:isHidden&&height+'px'}">
                        </p>
                         <span class="show" ng-click="fn()" ng-if="isHidden">
                                显示全部<span class="rotate">&lt;</span></span>
                    </div>
                </div>
            </div>
        </li>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</div>


</div>
