<ion-header-bar align-title="center" class="bar-container">
    <div style="z-index:200;" class="row bar-red">
        <div class="buttons col">
            <div class="broadcast">
                <span class="word">直播</span>
            </div>
        </div>
        <div class="col col-80">
            <h1 class="title">青云新闻</h1>
        </div>
        <div class="col">
            <span class="search"></span>
        </div>
    </div>
    <nav-bar class="top-bar bar bar-subheader">

    </nav-bar>
</ion-header-bar>
<ion-content class=" n-list has-subheader">
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list
            show-delete="shouldShowDelete"
            show-reorder="shouldShowReorder"
            can-swipe="listCanSwipe">
        <ion-item ng-repeat="item in items"
                  class="item-thumbnail-left item" data-id="{{item}}" ui-sref="home.detail({id:item.docid})">


            <img ng-src="{{item.img||item.imgsrc}}">

            <h2 class="wrap">{{item.title}}</h2>
            <p>{{item.description}}</p>


            <div class="right-flow">
                <span>{{item.interest}}</span>
                <span>{{item.replyCount+'跟帖'}}</span>
                <span>x</span>
            </div>


            <!--<div class="right-flow" ng-if="item.prompt">
                <span class="special">置顶</span>

            </div>-->


        </ion-item>
    </ion-list>

    <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
    </ion-infinite-scroll>
</ion-content>