<!--
<div class="nav-bar">
    <div data-id="container" class="container">
        <a ng-repeat="item in tList|orderBy:'bannerOrder'" class="nav" ui-sref="index.detail({id:item.tid})">{{item.tname}}</a>

    </div>

</div>
<span class="tpoic-show-icon" drop-down-topic>+</span>-->

<div class="nav-bar-container">
    <ul class="navBar nav-bar" data-id="container">
        <li class="item-bar" ng-repeat="item in items" >
            <a ng-repeat="item in tList|orderBy:'_order'" class="nav" ui-sref="home.list({id:item.tid})">{{item.tname}}</a>
        </li>

    </ul>
    <div class="plus">
        <span drop-down-topic>  +</span>

    </div>

    <ion-content class='topic-container'>
        <div class="top-bar">
            <span class="tip">切换栏目</span>
            <span class="tip-operation">排序删除</span>
        </div>
            <ul>
                <li scale-content class="topic" ng-repeat="item in tList|orderBy:'_order'|filter:isOrdered"
                    data-topicIdx="{{$index}}" ng-style="$index==0&&{border:'none'}">
                    <span >{{item.tname}}</span>
                    <i class="close-circled ion-close-circled"></i>
                </li>
            </ul>
            <ul>
                <div class="add-topic"><span>点击添加更多栏目</span></div>
                <li scale-content class="topic" ng-repeat="item in tList|orderBy:'_order'|filter:isUnOrdered"
                    data-topicIdx="{{$index}}">
                    <span>{{item.tname}}</span>
                    <i class="close-circled ion-close-circled"></i>
                </li>
            </ul>
    </ion-content>

</div>
</div>
