@mixin comment {
  .comment {
    height:100%;
    top:pxToRem(44*3px);
    .content {
      white-space: pre-wrap;
      font-size: pxToRem(50px);
    }

    .look-more {
      height: pxToRem(155px);
      line-height: pxToRem(155px);
      font-size: pxToRem(45px);
      color: #4682c5;
      display: block;
      background: #fff;
      text-align: center;
      text-decoration: none;
    }

    .rel-sys {

      .title {
        margin: {
          top: 0;
        }
        white-space: pre-line;
      }
    }
    .nickname {
      color: #4682c5;
      font-size: pxToRem(40px);
      text-align: left;
    }
    .from {
      font-size: pxToRem(30px);
      color: #808080;
    }

    .floor {
      display: inline-block;

      background: #efefe2;
      color: #a0a08d;
      font-size: pxToRem(20px);
      margin-right: pxToRem(10px);
      padding: pxToRem(8px) pxToRem(20px);
    }
    .wrap-border {
      border: 1px solid grey;
      margin: 3px;
      background: #f8f8f1;
    }

    .contentWrap {
      text-align: right;
      p {
        text-align: left;
      }
    }
    .show {
      font-size: pxToRem(35px);
      color: #6e6d6d;
      display: inline-block;
      padding: pxToRem(5px) pxToRem(20px);
      border: 1px solid #c4c4c4;
      border-radius: 10px;
    }

    .rotate {
      transform: rotateZ(-90deg);
      display: inline-block;
      font-size: 1em;
      font-weight: 500;
      padding: 0 4px;
    }

    .nest-comment {
      > .wrap-border {
        border: none;
        background: #fff;
      }
    }

  }
}

.detail-comment{
  height:100%;
  @include comment;
}