$baseFontSize: 41.4px;
@function pxToRem($px) {
    @return $px / $baseFontSize / 3 * 1rem;
}

.bar-container{
    padding:0;
}
.bar-red{
    background: #df3031 no-repeat;
    background-image: url(../img/logo.png);
    background-position: 50%;
    background-size: 17% 70%;
    padding:{
        right:pxToRem(40px);
        bottom:pxToRem(33px);
    };
    .search{
        background-image: url(../img/search.png);
        display:inline-block;
        width:pxToRem(70px);
        height:pxToRem(70px);
        background-size:100%;
        vertical-align: middle;
    }

    .broadcast{
        background-repeat:no-repeat;
        background-image: url(../img/broadcast.png);
        display:inline-block;
        width:pxToRem(96px);
        height:pxToRem(62px);
        background-size:100% 100%;
        vertical-align: middle;
        position:relative;
        overflow:hidden;
        .word{
            font-size:pxToRem(30px);
            white-space: nowrap;
            color: #fff;
            position:absolute;
            top:10%;
            animation:flydown 0.5s 6 ease-out;
            display: inline-block;
        }
    }

}

@keyframes flydown {
    0% {top:-100%;}
    33% {top:-50%;}
    66% { top:50%;}
    100% { top:100%;}
}