
@import 'home';
@import 'style';
@import 'livechannel';
@import 'newstopic';
@import 'comment';
@import 'detail';





.index-panel{
  bottom:pxToRem(49px);
  z-index:10;
}

.tabs{
  z-index: 11;
}

.index {
  @mixin view{
    position:absolute;
    z-index: 0;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
  }
  .detail-view{
    @include view;
  }
  .detail-comment-view{
    @include view;
  }
}

body{
  width:pxToRem(414px*3);
}