.bar-container {
  padding: 0; }

.bar-red {
  background: #df3031 no-repeat;
  background-image: url(../img/logo.png);
  background-position: 50%;
  background-size: 17% 70%;
  padding-right: 0.32206rem;
  padding-bottom: 0.2657rem; }
  .bar-red .search {
    background-image: url(../img/search.png);
    display: inline-block;
    width: 0.56361rem;
    height: 0.56361rem;
    background-size: 100%;
    vertical-align: middle; }
  .bar-red .broadcast {
    background-repeat: no-repeat;
    background-image: url(../img/broadcast.png);
    display: inline-block;
    width: 0.77295rem;
    height: 0.49919rem;
    background-size: 100% 100%;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
    .bar-red .broadcast .word {
      font-size: 0.24155rem;
      white-space: nowrap;
      color: #fff;
      position: absolute;
      top: 10%;
      animation: flydown 0.5s 6 ease-out;
      display: inline-block; }

@keyframes flydown {
  0% {
    top: -100%; }
  33% {
    top: -50%; }
  66% {
    top: 50%; }
  100% {
    top: 100%; } }
.n-list h2.wrap {
  white-space: initial; }

.n-list .bottom-content {
  position: absolute;
  bottom: 10px; }

.n-list .item > a {
  padding-right: 16px;
  padding-bottom: 8px; }

.n-list .right-flow {
  text-align: right;
  margin-top: 25px; }

.n-list .right-flow span:first-child {
  float: left;
  background: none; }

.n-list .right-flow span:last-child {
  padding: 1px 8px; }

.n-list .right-flow span {
  background: rgba(222, 222, 222, 0.4);
  padding: 2px;
  border-radius: 12px; }

.n-list {
  /* margin-top: 88px;*/ }

body, html {
  height: 100%; }

.top-bar {
  /* position: absolute;
   z-index: 111;
   white-space: nowrap;
   overflow: scroll;
   background: #fff;
   padding: 10px 0px;
   width: 100%;
   top: 10px;*/
  /* white-space: nowrap;
   !*overflow: scroll;*!
   background: #fff;
   padding: 10px 0px;
   width: 100%;*/
  padding: 0; }

.top-bar .nav {
  font-size: 16px;
  padding: 0px 21px;
  text-decoration: none;
  color: black; }

.top-bar .nav.checked {
  color: red;
  font-size: 21px; }

.nav-bar {
  position: relative;
  height: 35px; }

.nav-bar .container {
  position: absolute;
  left: 0;
  transition: left .5s; }

.tpoic-show-icon {
  position: absolute;
  right: 10px;
  font-size: 3em; }

/* Empty. Add your own CSS if you like */
.my-bar {
  padding: 0;
  z-index: 8; }

.nav-bar-container {
  position: relative; }

.navBar {
  position: absolute;
  white-space: nowrap;
  /*    padding: 13px 0;
      border: 1px solid red;*/
  transition: left 1s;
  background: #fdfdfd;
  height: 100%;
  line-height: 1.0628rem; }

.navBar .item-bar {
  display: inline-block;
  font-size: 15px;
  margin: 0px 14px;
  color: #5f5f5f; }

.navBar .item-bar a {
  color: #5f5f5f; }

.nav-bar-container .plus {
  font-size: 14px;
  color: #8c8c8c;
  position: fixed;
  right: 0;
  padding: 14px;
  top: 0;
  background: #fdfdfd;
  line-height: 14px;
  z-index: 3; }

.nav-bar-container .plus span {
  font-size: 2em;
  transition: transform 1s;
  display: inline-block; }

.nav-bar-container .plus span.checked {
  transform: rotate(45deg); }

.nav-bar-container .topic-container {
  position: absolute;
  left: 0;
  top: -16.24799rem;
  border: 1px solid red;
  width: 10rem;
  height: 16.24799rem;
  /* bottom: 0px; */
  transition: top 1s;
  white-space: normal;
  z-index: 2;
  font-size: 0.40258rem;
  background: rgba(254, 254, 254, 0.96);
  padding-top: 0.35427rem; }
  .nav-bar-container .topic-container .add-topic {
    background: #eef1f5;
    padding: 0.20129rem 0.24155rem;
    font-size: 0.32206rem;
    margin-top: 0.42673rem; }
  .nav-bar-container .topic-container .top-bar {
    height: 0.92593rem;
    background: #fdfdfd; }
    .nav-bar-container .topic-container .top-bar .tip {
      margin-left: 0.24155rem;
      margin-color: #181818; }
    .nav-bar-container .topic-container .top-bar .tip-operation {
      border: 1px solid #df3233;
      color: #df3233;
      height: 0.56361rem;
      width: 1.44928rem;
      font-size: 0.25765rem;
      float: right;
      display: inline-block;
      margin-right: 1.0628rem;
      text-align: center;
      border-radius: 0.16103rem; }

.nav-bar-container .topic-show {
  top: 0rem; }

.topic-container .topic {
  display: inline-block;
  width: 1.69082rem;
  height: 0.72464rem;
  text-align: center;
  line-height: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  margin-left: 0.48309rem;
  margin-top: 0.64412rem;
  /* overflow: hidden; */
  position: relative;
  white-space: nowrap; }

.topic-container.pressed .close-circled {
  position: absolute;
  left: -4px;
  top: -11px;
  color: grey;
  visibility: visible; }

.topic-container .close-circled {
  position: absolute;
  left: -4px;
  top: -11px;
  color: grey;
  visibility: hidden; }

.navBar .item-bar a.checked {
  font-size: 18px;
  color: #df3031; }

.livechannel .live-item {
  padding: 0;
  position: relative;
  list-style: none; }
  .livechannel .live-item .image {
    height: 4.1868rem;
    width: 10rem; }
  .livechannel .live-item .room-name {
    position: absolute;
    left: 0.2818rem;
    bottom: 1.0467rem;
    font-size: 0.40258rem;
    color: #fff; }

.newstopic {
  background: #eef1f5; }
  .newstopic .live-item {
    background: #fff;
    font-size: 0.36232rem;
    padding: 0;
    position: relative;
    list-style: none;
    height: 7.8905rem;
    margin-top: 0.24155rem; }
    .newstopic .live-item .title-line {
      height: 0.96618rem;
      position: relative;
      padding-left: 1.61031rem;
      padding-top: 0.48309rem;
      padding-bottom: 0.20129rem;
      font-size: 0.32206rem;
      font-weight: 200; }
      .newstopic .live-item .title-line .headpic {
        width: 1.0467rem;
        height: 1.0467rem;
        border-radius: 0.52335rem;
        position: absolute;
        top: 0.2818rem;
        left: 0.2818rem; }
      .newstopic .live-item .title-line .title {
        font-size: 0.2818rem; }
    .newstopic .live-item .image img {
      height: 4.22705rem;
      width: 10rem; }
    .newstopic .live-item .body {
      padding: 0.37037rem;
      font-size: 0.36232rem; }

.detail-comment {
  height: 100%; }
  .detail-comment .comment {
    height: 100%;
    top: 1.0628rem; }
    .detail-comment .comment .content {
      white-space: pre-wrap;
      font-size: 0.40258rem; }
    .detail-comment .comment .look-more {
      height: 1.24799rem;
      line-height: 1.24799rem;
      font-size: 0.36232rem;
      color: #4682c5;
      display: block;
      background: #fff;
      text-align: center;
      text-decoration: none; }
    .detail-comment .comment .rel-sys .title {
      margin-top: 0;
      white-space: pre-line; }
    .detail-comment .comment .nickname {
      color: #4682c5;
      font-size: 0.32206rem;
      text-align: left; }
    .detail-comment .comment .from {
      font-size: 0.24155rem;
      color: #808080; }
    .detail-comment .comment .floor {
      display: inline-block;
      background: #efefe2;
      color: #a0a08d;
      font-size: 0.16103rem;
      margin-right: 0.08052rem;
      padding: 0.06441rem 0.16103rem; }
    .detail-comment .comment .wrap-border {
      border: 1px solid grey;
      margin: 3px;
      background: #f8f8f1; }
    .detail-comment .comment .contentWrap {
      text-align: right; }
      .detail-comment .comment .contentWrap p {
        text-align: left; }
    .detail-comment .comment .show {
      font-size: 0.2818rem;
      color: #6e6d6d;
      display: inline-block;
      padding: 0.04026rem 0.16103rem;
      border: 1px solid #c4c4c4;
      border-radius: 10px; }
    .detail-comment .comment .rotate {
      transform: rotateZ(-90deg);
      display: inline-block;
      font-size: 1em;
      font-weight: 500;
      padding: 0 4px; }
    .detail-comment .comment .nest-comment > .wrap-border {
      border: none;
      background: #fff; }

.detail-white {
  border-bottom: 1px solid #cbcbcb; }

.detail-container .reply-count {
  background: #cd3738;
  color: #fff;
  display: inline-block;
  padding: 0.12077rem;
  position: absolute;
  right: 0.24155rem;
  bottom: 0.24155rem;
  font-size: 0.2818rem;
  border-radius: 0.16103rem;
  text-decoration: none; }
.detail-container .detail {
  top: 1.0628rem;
  padding: 0px 0.32206rem;
  background-color: #f6f6f6;
  z-index: 6; }
  .detail-container .detail .title {
    font-size: 0.48309rem;
    margin-top: 0.56361rem; }
  .detail-container .detail .meta {
    margin: 0.2818rem 0; }
    .detail-container .detail .meta .sourceImg {
      width: 0.46699rem;
      height: 0.46699rem;
      vertical-align: middle;
      margin-bottom: 0; }
  .detail-container .detail .source {
    color: #5d9af2;
    font-size: 0.27375rem; }
  .detail-container .detail .tag {
    color: #5d9af2;
    border-radius: 0.16103rem;
    border: 1px solid;
    padding: 0.08052rem 0.16103rem; }
  .detail-container .detail .ptime {
    color: #808080; }
  .detail-container .detail .body {
    font-size: 0.43478rem;
    color: #1f1f1f; }
    .detail-container .detail .body p {
      margin: 0 0 0.72464rem; }
  .detail-container .detail .share {
    margin: 40px; }
  .detail-container .detail img {
    margin-bottom: 0.56361rem; }
.detail-container .bar-title {
  height: 1.0467rem;
  line-height: 1.0467rem;
  color: #df3031;
  background: #fcfcfc;
  list-style: none;
  margin-top: 0.32206rem;
  padding-left: 0.32206rem; }
.detail-container .comment {
  height: 100%;
  top: 1.0628rem; }
  .detail-container .comment .content {
    white-space: pre-wrap;
    font-size: 0.40258rem; }
  .detail-container .comment .look-more {
    height: 1.24799rem;
    line-height: 1.24799rem;
    font-size: 0.36232rem;
    color: #4682c5;
    display: block;
    background: #fff;
    text-align: center;
    text-decoration: none; }
  .detail-container .comment .rel-sys .title {
    margin-top: 0;
    white-space: pre-line; }
  .detail-container .comment .nickname {
    color: #4682c5;
    font-size: 0.32206rem;
    text-align: left; }
  .detail-container .comment .from {
    font-size: 0.24155rem;
    color: #808080; }
  .detail-container .comment .floor {
    display: inline-block;
    background: #efefe2;
    color: #a0a08d;
    font-size: 0.16103rem;
    margin-right: 0.08052rem;
    padding: 0.06441rem 0.16103rem; }
  .detail-container .comment .wrap-border {
    border: 1px solid grey;
    margin: 3px;
    background: #f8f8f1; }
  .detail-container .comment .contentWrap {
    text-align: right; }
    .detail-container .comment .contentWrap p {
      text-align: left; }
  .detail-container .comment .show {
    font-size: 0.2818rem;
    color: #6e6d6d;
    display: inline-block;
    padding: 0.04026rem 0.16103rem;
    border: 1px solid #c4c4c4;
    border-radius: 10px; }
  .detail-container .comment .rotate {
    transform: rotateZ(-90deg);
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    padding: 0 4px; }
  .detail-container .comment .nest-comment > .wrap-border {
    border: none;
    background: #fff; }

.btn-back {
  display: inline-block;
  width: 0.72464rem;
  height: 0.72464rem;
  border: 3px solid #d1d1d1;
  border-radius: 0.36232rem;
  font-size: 25px;
  color: #d1d1d1;
  text-align: center; }

.index-panel {
  bottom: 0.39452rem;
  z-index: 10; }

.tabs {
  z-index: 11; }

.index .detail-view {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }
.index .detail-comment-view {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

body {
  width: 10rem; }

/*# sourceMappingURL=index.css.map */
