.n-list h2.wrap {
  white-space: initial; }

.n-list .bottom-content {
  position: absolute;
  bottom: 10px; }

.n-list .item > a {
  padding-right: 16px;
  padding-bottom: 8px; }

.n-list .right-flow {
  text-align: right;
  margin-top: 25px; }

.n-list .right-flow span:first-child {
  float: left;
  background: none; }

.n-list .right-flow span:last-child {
  padding: 1px 8px; }

.n-list .right-flow span {
  background: rgba(222, 222, 222, 0.4);
  padding: 2px;
  border-radius: 12px; }

.n-list {
  /* margin-top: 88px;*/ }

body, html {
  height: 100%; }

.top-bar {
  /* position: absolute;
   z-index: 111;
   white-space: nowrap;
   overflow: scroll;
   background: #fff;
   padding: 10px 0px;
   width: 100%;
   top: 10px;*/
  /* white-space: nowrap;
   !*overflow: scroll;*!
   background: #fff;
   padding: 10px 0px;
   width: 100%;*/
  padding: 0; }

.top-bar .nav {
  font-size: 16px;
  padding: 0px 21px;
  text-decoration: none;
  color: black; }

.top-bar .nav.checked {
  color: red;
  font-size: 21px; }

.nav-bar {
  position: relative;
  height: 35px; }

.nav-bar .container {
  position: absolute;
  left: 0;
  transition: left .5s; }

.tpoic-show-icon {
  position: absolute;
  right: 10px;
  font-size: 3em; }

/* Empty. Add your own CSS if you like */
.my-bar {
  padding: 0;
  z-index: 8; }

.nav-bar-container {
  position: relative; }

.navBar {
  position: absolute;
  white-space: nowrap;
  /*    padding: 13px 0;
      border: 1px solid red;*/
  transition: left 1s;
  background: #f6f6f6;
  height: 100%; }

.navBar .item-bar {
  display: inline-block;
  font-size: 15px;
  margin: 0px 14px;
  color: #5f5f5f; }

.navBar .item-bar a {
  color: #5f5f5f; }

.nav-bar-container .plus {
  font-size: 14px;
  color: #8c8c8c;
  position: fixed;
  right: 0;
  padding: 14px;
  top: 0;
  background: #f6f6f6;
  line-height: 14px;
  z-index: 3; }

.nav-bar-container .plus span {
  font-size: 2em;
  transition: transform 1s;
  display: inline-block; }

.nav-bar-container .plus span.checked {
  transform: rotate(45deg); }

.nav-bar-container .topic-container {
  position: absolute;
  left: 0;
  top: pxToRem(-2018px);
  border: 1px solid red;
  width: pxToRem(1242px);
  height: pxToRem(2018px);
  /* bottom: 0px; */
  transition: top 1s;
  white-space: normal;
  z-index: 2;
  font-size: pxToRem(50px);
  background: rgba(255, 255, 255, 0.96); }
  .nav-bar-container .topic-container .add-topic {
    background: #eef1f5;
    padding: pxToRem(25px) pxToRem(30px);
    font-size: pxToRem(40px);
    margin-top: pxToRem(53px); }

.topic-container .topic {
  display: inline-block;
  width: pxToRem(210px);
  height: pxToRem(90px);
  text-align: center;
  line-height: 30px;
  border: 2px solid #dfdfdf;
  border-radius: 30px;
  margin-left: pxToRem(60px);
  margin-top: pxToRem(80px);
  /* overflow: hidden; */
  position: relative;
  white-space: nowrap; }

.topic-container.pressed .close-circled {
  position: absolute;
  left: -4px;
  top: -11px;
  color: grey;
  visibility: visible; }

.topic-container .close-circled {
  position: absolute;
  left: -4px;
  top: -11px;
  color: grey;
  visibility: hidden; }

.navBar .item-bar a.checked {
  font-size: 18px;
  color: #df3031; }

/*# sourceMappingURL=style.css.map */
